<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>wayd</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Connexion</display-name>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>servlet.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/Connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListActivite</display-name>
    <servlet-name>ListActivite</servlet-name>
    <servlet-class>servlet.ListActivite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListActivite</servlet-name>
    <url-pattern>/ListActivite</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>Connexion wayd</description>
    <res-ref-name>PostgresDS</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>Acceuil</display-name>
    <servlet-name>Acceuil</servlet-name>
    <servlet-class>servlet.Acceuil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Acceuil</servlet-name>
    <url-pattern>/Acceuil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailActivite</display-name>
    <servlet-name>DetailActivite</servlet-name>
    <servlet-class>servlet.DetailActivite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailActivite</servlet-name>
    <url-pattern>/DetailActivite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailParticipant</display-name>
    <servlet-name>DetailParticipant</servlet-name>
    <servlet-class>servlet.DetailParticipant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailParticipant</servlet-name>
    <url-pattern>/DetailParticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Probleme</display-name>
    <servlet-name>Probleme</servlet-name>
    <servlet-class>servlet.Probleme</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Probleme</servlet-name>
    <url-pattern>/Probleme</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListSuggestion</display-name>
    <servlet-name>ListSuggestion</servlet-name>
    <servlet-class>servlet.ListSuggestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSuggestion</servlet-name>
    <url-pattern>/ListSuggestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controleur</display-name>
    <servlet-name>Controleur</servlet-name>
    <servlet-class>servlet.Controleur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controleur</servlet-name>
    <url-pattern>/Controleur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListProbleme</display-name>
    <servlet-name>ListProbleme</servlet-name>
    <servlet-class>servlet.ListProbleme</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProbleme</servlet-name>
    <url-pattern>/ListProbleme</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HistoriqueChart</display-name>
    <servlet-name>HistoriqueChart</servlet-name>
    <servlet-class>servlet.HistoriqueChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoriqueChart</servlet-name>
    <url-pattern>/HistoriqueChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>servlet.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tes</display-name>
    <servlet-name>tes</servlet-name>
    <servlet-class>servlet.tes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tes</servlet-name>
    <url-pattern>/tes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListSignalementProfils</display-name>
    <servlet-name>ListSignalementProfils</servlet-name>
    <servlet-class>servlet.ListSignalementProfils</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSignalementProfils</servlet-name>
    <url-pattern>/ListSignalementProfils</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListProfil</display-name>
    <servlet-name>ListProfil</servlet-name>
    <servlet-class>servlet.ListProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProfil</servlet-name>
    <url-pattern>/ListProfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListSignalementActivite</display-name>
    <servlet-name>ListSignalementActivite</servlet-name>
    <servlet-class>servlet.ListSignalementActivite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSignalementActivite</servlet-name>
    <url-pattern>/ListSignalementActivite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceuilPro</display-name>
    <servlet-name>AcceuilPro</servlet-name>
    <servlet-class>servlet.pro.AcceuilPro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceuilPro</servlet-name>
    <url-pattern>/AcceuilPro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inscription</display-name>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>servlet.commun.Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/Inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Form_PremierProfil</display-name>
    <servlet-name>Form_PremierProfil</servlet-name>
    <servlet-class>servlet.commun.Form_PremierProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Form_PremierProfil</servlet-name>
    <url-pattern>/Form_PremierProfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComptePro</display-name>
    <servlet-name>ComptePro</servlet-name>
    <servlet-class>servlet.pro.ComptePro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComptePro</servlet-name>
    <url-pattern>/ComptePro</url-pattern>
  </servlet-mapping>
</web-app>