<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>wayd</display-name>
  <welcome-file-list>
    <welcome-file>/commun/acceuil.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Connexion</display-name>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>servlet.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/Connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListActivite</display-name>
    <servlet-name>ListActivite</servlet-name>
    <servlet-class>servlet.ListActivite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListActivite</servlet-name>
    <url-pattern>/ListActivite</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>Connexion wayd</description>
    <res-ref-name>PostgresDS</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>Acceuil</display-name>
    <servlet-name>Acceuil</servlet-name>
    <servlet-class>servlet.Acceuil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Acceuil</servlet-name>
    <url-pattern>/Acceuil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailActivite</display-name>
    <servlet-name>DetailActivite</servlet-name>
    <servlet-class>servlet.DetailActivite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailActivite</servlet-name>
    <url-pattern>/DetailActivite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailParticipant</display-name>
    <servlet-name>DetailParticipant</servlet-name>
    <servlet-class>servlet.DetailParticipant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailParticipant</servlet-name>
    <url-pattern>/DetailParticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Probleme</display-name>
    <servlet-name>Probleme</servlet-name>
    <servlet-class>servlet.Probleme</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Probleme</servlet-name>
    <url-pattern>/Probleme</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListSuggestion</display-name>
    <servlet-name>ListSuggestion</servlet-name>
    <servlet-class>servlet.ListSuggestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSuggestion</servlet-name>
    <url-pattern>/ListSuggestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controleur</display-name>
    <servlet-name>Controleur</servlet-name>
    <servlet-class>servlet.Controleur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controleur</servlet-name>
    <url-pattern>/Controleur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListProbleme</display-name>
    <servlet-name>ListProbleme</servlet-name>
    <servlet-class>servlet.ListProbleme</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProbleme</servlet-name>
    <url-pattern>/ListProbleme</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HistoriqueChart</display-name>
    <servlet-name>HistoriqueChart</servlet-name>
    <servlet-class>servlet.HistoriqueChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoriqueChart</servlet-name>
    <url-pattern>/HistoriqueChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>servlet.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tes</display-name>
    <servlet-name>tes</servlet-name>
    <servlet-class>servlet.tes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tes</servlet-name>
    <url-pattern>/tes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListSignalementProfils</display-name>
    <servlet-name>ListSignalementProfils</servlet-name>
    <servlet-class>servlet.ListSignalementProfils</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSignalementProfils</servlet-name>
    <url-pattern>/ListSignalementProfils</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListProfil</display-name>
    <servlet-name>ListProfil</servlet-name>
    <servlet-class>servlet.ListProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProfil</servlet-name>
    <url-pattern>/ListProfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListSignalementActivite</display-name>
    <servlet-name>ListSignalementActivite</servlet-name>
    <servlet-class>servlet.ListSignalementActivite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSignalementActivite</servlet-name>
    <url-pattern>/ListSignalementActivite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceuilPro</display-name>
    <servlet-name>AcceuilPro</servlet-name>
    <servlet-class>servlet.pro.AcceuilPro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceuilPro</servlet-name>
    <url-pattern>/AcceuilPro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inscription</display-name>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>servlet.commun.Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/Inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Form_PremierProfil</display-name>
    <servlet-name>Form_PremierProfil</servlet-name>
    <servlet-class>servlet.commun.Form_PremierProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Form_PremierProfil</servlet-name>
    <url-pattern>/Form_PremierProfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComptePro</display-name>
    <servlet-name>ComptePro</servlet-name>
    <servlet-class>servlet.pro.ComptePro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComptePro</servlet-name>
    <url-pattern>/ComptePro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouteActivite</display-name>
    <servlet-name>AjouteActivitePro</servlet-name>
    <servlet-class>servlet.pro.AjouteActivitePro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouteActivitePro</servlet-name>
    <url-pattern>/AjouteActivitePro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MesActivites</display-name>
    <servlet-name>MesActivites</servlet-name>
    <servlet-class>servlet.pro.MesActivites</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MesActivites</servlet-name>
    <url-pattern>/MesActivites</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimeActivite</display-name>
    <servlet-name>SupprimeActivite</servlet-name>
    <servlet-class>servlet.pro.SupprimeActivite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimeActivite</servlet-name>
    <url-pattern>/SupprimeActivite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deconnexion</display-name>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>servlet.pro.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/Deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmDialog</display-name>
    <servlet-name>ConfirmDialog</servlet-name>
    <servlet-class>servlet.pro.ConfirmDialog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmDialog</servlet-name>
    <url-pattern>/ConfirmDialog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Map</display-name>
    <servlet-name>Map</servlet-name>
    <servlet-class>servlet.pro.Map</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Map</servlet-name>
    <url-pattern>/Map</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceuilWaydeur</display-name>
    <servlet-name>AcceuilWaydeur</servlet-name>
    <servlet-class>servlet.waydeur.AcceuilWaydeur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceuilWaydeur</servlet-name>
    <url-pattern>/AcceuilWaydeur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouteActiviteWaydeur</display-name>
    <servlet-name>AjouteActiviteWaydeur</servlet-name>
    <servlet-class>servlet.waydeur.AjouteActiviteWaydeur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouteActiviteWaydeur</servlet-name>
    <url-pattern>/AjouteActiviteWaydeur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompteWaydeur</display-name>
    <servlet-name>CompteWaydeur</servlet-name>
    <servlet-class>servlet.waydeur.CompteWaydeur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompteWaydeur</servlet-name>
    <url-pattern>/CompteWaydeur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MapWaydeur</display-name>
    <servlet-name>MapWaydeur</servlet-name>
    <servlet-class>servlet.waydeur.MapWaydeur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapWaydeur</servlet-name>
    <url-pattern>/MapWaydeur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MesActivitesWaydeur</display-name>
    <servlet-name>MesActivitesWaydeur</servlet-name>
    <servlet-class>servlet.waydeur.MesActivitesWaydeur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MesActivitesWaydeur</servlet-name>
    <url-pattern>/MesActivitesWaydeur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimeActiviteWaydeur</display-name>
    <servlet-name>SupprimeActiviteWaydeur</servlet-name>
    <servlet-class>servlet.waydeur.SupprimeActiviteWaydeur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimeActiviteWaydeur</servlet-name>
    <url-pattern>/SupprimeActiviteWaydeur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeconnexionWaydeur</display-name>
    <servlet-name>DeconnexionWaydeur</servlet-name>
    <servlet-class>servlet.waydeur.DeconnexionWaydeur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeconnexionWaydeur</servlet-name>
    <url-pattern>/DeconnexionWaydeur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChargePhotoWaydeur</display-name>
    <servlet-name>ChargePhotoWaydeur</servlet-name>
    <servlet-class>servlet.waydeur.ChargePhotoWaydeur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChargePhotoWaydeur</servlet-name>
    <url-pattern>/ChargePhotoWaydeur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChargePhotoPro</display-name>
    <servlet-name>ChargePhotoPro</servlet-name>
    <servlet-class>servlet.pro.ChargePhotoPro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChargePhotoPro</servlet-name>
    <url-pattern>/ChargePhotoPro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RechercheWaydeur</display-name>
    <servlet-name>RechercheWaydeur</servlet-name>
    <servlet-class>servlet.waydeur.RechercheWaydeur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RechercheWaydeur</servlet-name>
    <url-pattern>/RechercheWaydeur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrationComptePro</display-name>
    <servlet-name>CrationComptePro</servlet-name>
    <servlet-class>servlet.pro.CrationComptePro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrationComptePro</servlet-name>
    <url-pattern>/CrationComptePro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreationComptePro</display-name>
    <servlet-name>CreationComptePro</servlet-name>
    <servlet-class>servlet.pro.CreationComptePro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreationComptePro</servlet-name>
    <url-pattern>/CreationComptePro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreationCompteWaydeur</display-name>
    <servlet-name>CreationCompteWaydeur</servlet-name>
    <servlet-class>servlet.waydeur.CreationCompteWaydeur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreationCompteWaydeur</servlet-name>
    <url-pattern>/CreationCompteWaydeur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailActiviteSite</display-name>
    <servlet-name>DetailActiviteSite</servlet-name>
    <servlet-class>servlet.commun.DetailActiviteSite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailActiviteSite</servlet-name>
    <url-pattern>/DetailActiviteSite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignalerActivite</display-name>
    <servlet-name>SignalerActivite</servlet-name>
    <servlet-class>servlet.commun.SignalerActivite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignalerActivite</servlet-name>
    <url-pattern>/SignalerActivite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParticiperActivite</display-name>
    <servlet-name>ParticiperActivite</servlet-name>
    <servlet-class>servlet.waydeur.ParticiperActivite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParticiperActivite</servlet-name>
    <url-pattern>/ParticiperActivite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RechercherPro</display-name>
    <servlet-name>RechercherPro</servlet-name>
    <servlet-class>servlet.pro.RechercherPro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RechercherPro</servlet-name>
    <url-pattern>/RechercherPro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListMapActivite</display-name>
    <servlet-name>ListMapActivite</servlet-name>
    <servlet-class>servlet.commun.ListMapActivite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListMapActivite</servlet-name>
    <url-pattern>/ListMapActivite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailProfilSite</display-name>
    <servlet-name>DetailProfilSite</servlet-name>
    <servlet-class>servlet.commun.DetailProfilSite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailProfilSite</servlet-name>
    <url-pattern>/DetailProfilSite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MapPro</display-name>
    <servlet-name>MapPro</servlet-name>
    <servlet-class>servlet.pro.MapPro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapPro</servlet-name>
    <url-pattern>/MapPro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignalerProfil</display-name>
    <servlet-name>SignalerProfil</servlet-name>
    <servlet-class>servlet.commun.SignalerProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignalerProfil</servlet-name>
    <url-pattern>/SignalerProfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Noter</display-name>
    <servlet-name>Noter</servlet-name>
    <servlet-class>servlet.commun.Noter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Noter</servlet-name>
    <url-pattern>/Noter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChargePhotoActivite</display-name>
    <servlet-name>ChargePhotoActivite</servlet-name>
    <servlet-class>servlet.ChargePhotoActivite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChargePhotoActivite</servlet-name>
    <url-pattern>/ChargePhotoActivite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlusAvis</display-name>
    <servlet-name>PlusAvis</servlet-name>
    <servlet-class>servlet.commun.PlusAvis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlusAvis</servlet-name>
    <url-pattern>/PlusAvis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateActivitePro</display-name>
    <servlet-name>UpdateActivitePro</servlet-name>
    <servlet-class>servlet.pro.UpdateActivitePro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateActivitePro</servlet-name>
    <url-pattern>/UpdateActivitePro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierActivite</display-name>
    <servlet-name>ModifierActivite</servlet-name>
    <servlet-class>servlet.commun.ModifierActivite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierActivite</servlet-name>
    <url-pattern>/ModifierActivite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Apropos</display-name>
    <servlet-name>Apropos</servlet-name>
    <servlet-class>servlet.pro.Apropos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Apropos</servlet-name>
    <url-pattern>/Apropos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contact</display-name>
    <servlet-name>Contact</servlet-name>
    <servlet-class>servlet.pro.Contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact</servlet-name>
    <url-pattern>/Contact</url-pattern>
  </servlet-mapping>
</web-app>